# *.js uncomment this line if you are a cdk project. For this CICD demo, we common out *.js, so that *.js files could be pushed to github.
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# output of `npm run build`
typescript_output

.vscode
dist