-i https://pypi.tuna.tsinghua.edu.cn/simple
aiohttp==3.8.6; python_version >= '3.6'
aiosignal==1.3.1; python_version >= '3.7'
annotated-types==0.6.0; python_version >= '3.8'
anyio==3.7.1; python_version >= '3.7'
async-timeout==4.0.3; python_version < '3.11'
attrs==23.1.0; python_version >= '3.7'
aws_requests_auth==0.4.3
backoff==2.2.1; python_version >= '3.7' and python_version < '4.0'
beautifulsoup4==4.12.2; python_full_version >= '3.6.0'
boto3==1.28.72; python_version >= '3.7'
botocore==1.31.72; python_version >= '3.7'
certifi==2023.7.22; python_version >= '3.6'
chardet==5.2.0; python_version >= '3.7'
charset-normalizer==3.3.1; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
dataclasses-json==0.6.1; python_version >= '3.7' and python_version < '4.0'
emoji==2.8.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
exceptiongroup==1.1.3; python_version < '3.11'
filetype==1.2.0
frozenlist==1.4.0; python_version >= '3.8'
idna==3.4; python_version >= '3.5'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==2.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
langchain==0.0.324; python_version < '4.0' and python_full_version >= '3.8.1'
langdetect==1.0.9
langsmith==0.0.52; python_version < '4.0' and python_full_version >= '3.8.1'
lxml==4.9.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
marshmallow==3.20.1; python_version >= '3.8'
multidict==6.0.4; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
nltk==3.8.1; python_version >= '3.7'
numpy==1.26.1; python_version < '3.13' and python_version >= '3.9'
openai==0.28.1; python_full_version >= '3.7.1'
opensearch-py==2.3.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'
packaging==23.2; python_version >= '3.7'
pydantic==2.4.2; python_version >= '3.7'
pydantic-core==2.10.1; python_version >= '3.7'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-docx==1.0.1
python-iso639==2023.6.15; python_version >= '3.8'
python-magic==0.4.27; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
rapidfuzz==3.4.0; python_version >= '3.7'
regex==2023.10.3; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
requests-aws4auth==1.2.3
s3transfer==0.7.0; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0; python_version >= '3.7'
soupsieve==2.5; python_version >= '3.8'
sqlalchemy==2.0.22; python_version >= '3.7'
tabulate==0.9.0; python_version >= '3.7'
tenacity==8.2.3; python_version >= '3.7'
tiktoken==0.5.1; python_version >= '3.8'
tqdm==4.66.1; python_version >= '3.7'
typing-extensions==4.8.0; python_version >= '3.8'
typing-inspect==0.9.0
unstructured[docx]==0.10.27; python_full_version >= '3.7.0'
urllib3==2.0.7; python_version >= '3.7'
yarl==1.9.2; python_version >= '3.7'